body {
  background-color: #EFD1F0;
}

a {
  color: #3A7BE8;
}

a:visited {
  color: #5031F5;
}

button {
  background-color: #F7F6A6;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #B8B77B;
}


/*
index.html
*/
.header {
  width: 50%;
  background-color: #C8F4FA;
  border-radius: 10px;
  box-shadow: 10px 10px 50px grey;
  max-width: 1500px;
  overflow: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding-bottom: 10px;
}

.main-title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-top: 5px;
  text-align: center;
}

.author-credit {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section {
  width: 85%;
  background-color: #C8F4FA;
  border-radius: 10px;
  box-shadow: 10px 10px 50px grey;
  max-width: 1500px;
  position: relative;
  overflow: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.section-header {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-top: 10px;
  padding-left: 25px;
}

.section-text {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.section-image {
  width: 10%;
  height: 10%;
  float: right;
}

.foot {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.footer-text {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
}


/*
games.html
*/
.games {
  width: 100%;
  margin: 5px auto;
  max-width: 1000px;
  overflow: auto;
  position: relative;
}

@media screen and (max-width: 1010px) {
  .games {
    margin: 5px 5px;
  }
}

.game {
  display: inline-block;
  margin: 10px 10px;
  width: calc(25% - 10px - 1.2em);
  min-width: 150px;
  margin: 5;
  overflow: auto;
  box-shadow: 5px 5px 10px grey;
  background-color: #C8F4FA;
  border-style: solid;
  border-color: black;
  border-width: medium;
  border-radius: 10px;
}

.game-title-area {
  box-sizing: border-box;
  padding: 0px 8px;
}

.game-title {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.game-preview {
  box-sizing: border-box;
  background-color: white;
  padding: 8px;
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.preview-image {
  position: absolute;
  width: 98%;
  height: 98%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}


/*
play.html
*/
.title {
  margin-bottom: 7px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.additional-info-text {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 24px;
}

.focus-text {
  font-family: "Courier New", monospace;
  font-size: 20px;
}

.data-text {
  font-family: "Courier New", monospace;
  font-size: 16px;
  color: #00ff00;
  background-color: #333333;
  border-radius: 5px;
  word-wrap: break-word;
}

.label-text {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
}

.input-section {
  margin-bottom: 20px;
}

.input-box {
  margin-left: 10%;
  display: block;
}

.play-button {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #F7F6A6;
  color: #5C00B3;
  padding: 10px 15px;
  font-size: 28px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.play-button:hover {
  background-color: #B8B77B;
}


#sidebar-toggle {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 16px;
  right: 400px;
  background-image: url("hamburger_bars.svg");
  background-size: contain;
}

#play-sidebar {
  height: 100%;
  width: 350px;
  background-color: #C8F4FA;
  position: fixed!important;
  z-index: 1;
  overflow: auto;
  right: 0;
  padding: 20px;
  border-radius: 10px;
}

.play-header-buttons {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header-button-forms {
  width: calc(95% / 3);
  display: inline-block;
}

.nav-button {
  width: 50px;
  height: 50px;
}
.nav-button:hover {
  background-color: #B8B77B;
}

#home-button {
  background-image: url("home.svg");
  background-size: contain;
}

#games-button {
  background-image: url("games.svg");
  background-size: contain;
}

#account-button {
  background-image: url("wallet.svg");
  background-size: contain;
}

#defaultCanvas0 {
  margin-right: 400px;
  margin-bottom: 400px;
}


/*
account.html
login.html
register.html
*/
.basic-window {
  width: 75%;
  margin: auto;
  background-color: #C8F4FA;
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 65px;
  box-shadow: 10px 10px 50px grey;
}

.window-section {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.address-qr {
  width: 30%;
  height: 30%;
  min-width: 300px;
  min-height: 300px;
}

.credential-box {
  margin-left: 15px;
}

.username {
  text-align: center;
}
