<!doctype html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width">
      <meta charset="UTF-8">
      <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script>
        if (window.history.pushState) {
          window.history.pushState("", "", "/account");
        }
      </script>

      <title>Your GridPlace Account</title>
    </head>

    <body>
      <div class="basic-window">
        <div class="window-section">
          <p class="title username">Your GRC account dashboard: {{ acc['username'] }}</p>
        </div>

        <hr style="width:80%;color:#DDDDDD;margin-top:-10px;">

        <div class="window-section">
          <p class="data-text address-text">{{ acc['address'] }}</p>
        </div>

        <div class="window-section">
          <img class="address-qr" src="{{ url_for('static', filename='qr/' + acc['username'] + '.png') }}">
        </div>

        <div class="window-section">
          <p class="additional-info-text">Balance: <span class="focus-text">{{ r(acc['balance'], 8) }}</span></p>
        </div>

        <form action="{{ url_for('games') }}">
          <input class="play-button" type="submit" value="Play!"></input>
        </form>
      </div>
    </body>
</html>
