<!doctype html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width">
      <meta charset="UTF-8">
      <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

      <title>GridPlace - Current Games</title>
    </head>
    <body>
      <div class="games">
        {% for i, game_address in enum(current_game.grids) %}
          <a href="{{ url_for('play') + '?addr=' + game_address }}">
            <article class="game" title="{{ current_game.grids[game_address].description }}">
              <div class="game-title-area">
                <p class="game-title">{{ current_game.grids[game_address].name }}</p>
              </div>
              <div class="game-preview">
                <img class="preview-image" src="{{ url_for('static', filename='img/{}.png'.format(game_address)) }}">
              </div>
            </article>
          </a>
        {% endfor %}
      </div>
    </body>
</html>
