<!doctype html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width">
      <meta charset="UTF-8">
      <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

      <title>GridPlace Blockchain Game</title>
    </head>

    <body>
      <div class="header">
        <h1 class="main-title">GridPlace - Blockchain Game</h1>
        <h4 class="author-credit">By <a target="_blank" href="https://gitlab.com/delta1512">Delta</a></h4>
        <img class="title-image" alt="GridPlace logo" src="{{ url_for('static', filename='gridplace.png') }}">
      </div>

      <div class="section">
        <h2 class="section-header">What is GridPlace?</h2>
        <img class="section-image" alt="GRC logo" src="{{ url_for('static', filename='grc_logo.png') }}">
        <p class="section-text">
          GridPlace is a blockchain game where users place pixels one-by-one on a virtual grid on a blockchain.<br>
          This site implements the game and shows all currently running games on the <a target="_blank" href="https://gridcoin.us/">Gridcoin</a> blockchain where users spend a small amount of GRC to colour a pixel.<br>
          You can find the official protocol documentation <a target="_blank" href="https://docs.google.com/document/d/12meO83UyLb10K1QqPUETsgcPVq3SOxhA65HwIFjZK6k/edit?usp=sharing">here</a>.
        </p>
      </div>

      <div class="section">
        <h2 class="section-header">How do I play?</h2>
        <img class="section-image" alt="GRC wallet screenshot" src="{{ url_for('static', filename='grc_wallet.png') }}">
        <p class="section-text">
          <a href="{{ url_for('register') }}">Register</a> first if you haven't already. Then click the play button below to see all currently running games:
          <form action="{{ url_for('games') }}">
            <input class="play-button" type="submit" value="Play!"></input>
          </form>
        </p>
      </div>

      <div class="section">
        <h2 class="section-header">FAQ</h2>
        <img class="section-image" alt="Question mark" src="{{ url_for('static', filename='q_mark.svg') }}">
        <p class="section-text">
          Where does the money go? A: Each <a href="{{ url_for('games') }}">game</a> is tied to an address to a particular cause which is automatically donated to as you play the game. Mouse-over the game to get more information.<br><br>
          How can I donate to the glorious creator? A: Play my <a href="{{ url_for('play') + '?addr=SDeLtAzzaNkvom9HzVgdHHGToEjZ7sYipp' }}">game</a> or donate to me directly: <span class="data-text">SDeLtAzzaNkvom9HzVgdHHGToEjZ7sYipp</span> (<a target="_blank" href="https://gitlab.com/delta1512/donations/">More options here</a>)<br><br>
          Why can't I withdraw my GRC? A: This site and service is for donations only, any GRC you send here will be used for donations. I would recommend only sending small amounts to here.<br><br>
          Other questions? Join the <a target="_blank" href="https://discord.gg/jf9XX4a">Gridcoin Discord Server</a> and contact <span class="data-text">@Delta#9258</span>
        </p>
      </div>

      <footer class="foot">
        <p class="footer-text"><a target="_blank" href="https://gitlab.com/delta1512/gridplace-python-api">Source code</a> created by Delta under the <a target="_blank" href="https://gitlab.com/delta1512/gridplace-python-api/blob/master/LICENSE">GNU GPLv3 license</a></p>
        <p class="footer-text">All this was made for free for the community by myself. I pay for all hosting and domain names so donations are much appreciated! (For methods of donating see my <a target="_blank" href="https://gitlab.com/delta1512/donations/">donations page</a>)</p>
      </footer>
    </body>
</html>
