<!doctype html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width">
      <meta charset="UTF-8">
      <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='play.js') }}"></script>
      <script>
      //Sidebar script functions
      var open = true;

      function changeSidebar() {
        (open) ? sidebarClose() : sidebarOpen();
        open = !open
      }

      function sidebarOpen() {
        document.getElementById("play-sidebar").style.display = "block"
        document.getElementById("sidebar-toggle").style.right = "400px"
      }

      function sidebarClose() {
        document.getElementById("play-sidebar").style.display = "none"
        document.getElementById("sidebar-toggle").style.right = "1%"
      }
      </script>
      <title>GridPlace - Play GridPlace</title>
    </head>
    <body>
      <button id="sidebar-toggle" onclick="changeSidebar();"></button>
      <div id="play-sidebar">

        <div class="play-header-buttons">

          <form class="header-button-forms" action="{{ url_for('home') }}">
            <input id="home-button" class="play-button nav-button" type="submit" value="" title="Homepage"></input>
          </form>

          <form class="header-button-forms" action="{{ url_for('games') }}">
            <input id="games-button" class="play-button nav-button" type="submit" value="" title="Games page"></input>
          </form>

          <form class="header-button-forms" action="{{ url_for('account') }}">
            <input id="account-button" class="play-button nav-button" type="submit" value="" title="Your account page"></input>
          </form>

        </div>

        <h3 class="title">Pixel Info:</h3>
        <p class="additional-info-text" id="pixel-info">Mouse-over a pixel on the canvas to show its data.</p>
        <br>

        <h3 class="title">Play:</h3>
        <div class="input-section">
          <label class="label-text">x-coordinate:</label>
          <input id="x-input" type="number"></input>
        </div>

        <div class="input-section">
          <label class="label-text">y-coordinate:</label>
          <input id="y-input" type="number"></input>
        </div>

        <div class="input-section">
          <label class="label-text">Colour:</label>
          <input id="colour-input" type="color"></input>
        </div>

        <button class="play-button" onclick="process_form();">Play</button><br>
        <p id="play-info" class="focus-text"></p>
      </div>
    </body>
</html>
