<!doctype html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width">
      <meta charset="UTF-8">
      <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA }}"></script>
      <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('{{ RECAPTCHA }}', {action: 'login'}).then(function(token) {
              document.getElementById('form').innerHTML += '<input type="hidden" name="g-recaptcha-response" value="' + token + '">';
          });
        });
      </script>

      <title>GridPlace Register</title>
    </head>

    <body>
      <form method="POST" id="form">
        <div class="basic-window">
          <div class="window-section">
            <label class="label-text">Username:</label>
            <input class="credential-box" name="username" maxlength=18></input><br>
          </div>

          <div class="window-section">
            <label class="label-text">Password:</label>
            <input class="credential-box" type="password" name="password" maxlength=256></input>
          </div>

          <div class="window-section">
            <label class="label-text">Confirm Password:</label>
            <input class="credential-box" type="password" name="password-confirm" maxlength=256></input>
          </div>

          <div class="window-section" style="margin-top:-30px">
            <input class="play-button" type="submit" value="Register"></input>
          </div>

          <div class="window-section">
            <p class="label-text" style="display:inline-block;margin:auto;">Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
          </div>

          {% if failed %}
          <div class="window-section">
            <p class="label-text" style="color:red;">{{ failed }}</p>
          </div>
          {% endif %}
        </div>
      </form>
    </body>
</html>
